@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Rock+Salt&family=Teko&display=swap');

#main{
  color:white;
  background: #282828;
    display:grid;
    grid-template-areas: "header header header header socials"
                         "banner banner banner banner welcome"
                         "anni anni camp camp welcome ";
    
}

#header{
color: #BB0908;
  font-family: 'Teko', sans-serif;
    grid-area: header;
  padding-left: 30px;
  border-top: 35px;
  border-bottom: 15px;
  background-color: #070707;
  height: 100px;
  font-size: 20px;
  font-style: normal;


  
}

#socials{
    grid-area: socials;
    background-color: #070707;
    padding-top: 21px;
    padding-right: 41px;

}

#banner{    grid-area: banner;
  background-image:url(images/banner.png);
        background-size: cover;
  height:388px;
  width: 1440px;


}
#welcome{
    grid-area: welcome;
    background: #393939;
    width: 340px;
    height: 918px;
    padding-right: 41px;
    font-size: 18px;
    padding-left: 44px;


}

#welcomeText{

}

#anni{
    grid-area: anni;
  font-family: 'Poppins', sans-serif;
  width: 700px;
height: 481px;
background: #393939;
border-top: 5px solid #BB0908;



}
#tt{
  color: #FF1D29;
font-family: 'Rock Salt', cursive;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
  width: 353px;
height: 77px;
  float: right;
    border-bottom: 5px solid #BB0908;
  margin-right:21px;



}
#poster{
  float:left;
  width: 310px;
height: 478px;
}
#flag{
  width: 641px;
  margin-left: 24px;
  margin-top: 17px;
  height: 229px;
}
#dvd{
  height:120px;
margin-left:19px;
}
#wel{
  font-family: 'Roboto', sans-serif;

    width:325px;
  height:254px;
  padding-top: 25px;
}
#water{
  width: 325px;
  height: 170.525px;
  margin-top: 54px;
}
#camp{
    grid-area: camp;
  font-family: 'Poppins', sans-serif;
  width: 718px;
height: 481px;
background: #393939;
border-top: 5px solid #BB0908;



}

#socialbutton{
  float:right;
  width: 60px;
  height: 60px;
  padding-left: 13px;
}

#link{
  color: #22C1CB;
  float:right;
  margin-right:38px;
}

#movieprice{
  Text-decoration:underline;
  float:right;
    margin-right:70px;
  color:black;
 font-family: 'Teko', sans-serif;



}

.date{
  color: #FF1D29;
}

#dates{
  width: 349px;
  float:right;
  height: 216px;

}

#campText{
width: 676px;
height: 195px;
margin-left: 24px;
font-size: 24px;

}

#anniText{
  font-size: 18px;
  padding-left: 19px;
    margin-right:21px;
  

}