@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Rock+Salt&family=Teko&display=swap');

#main{
  color:white;
  background: #282828;
    display:grid;
    grid-template-areas: "header header header header socials"
                         "banner banner banner banner welcome"
                         "anni anni camp camp welcome "
                         "footer footer footer footer footer";

}

#header{
  grid-area: header;
  padding-left: 30px;
  border-top: 35px;
  border-bottom: 15px;
  background-color: #070707;
  height: 100px;

}

#title{
  color: #BB0908;
  font-family: 'Teko', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;

}

#socials{
    grid-area: socials;
    background-color: #070707;
    padding-top: 21px;
    padding-right: 41px;

}

#banner{    grid-area: banner;
  background-image:url(images/banner.png);
        background-size: cover;
  height:388px;
  width: 1440px;


}
#welcome{
    grid-area: welcome;
    background: #393939;
    width: 340px;
    height: 918px;
    padding-right: 41px;
    font-size: 18px;
    padding-left: 44px;


}

#welcomeText{
  width: 275px;
  height: 385px;
  top: 409px;
  left: 1504px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
font-weight: 400;
line-height: normal;
  
}

#anni{
    grid-area: anni;
  font-family: 'Poppins', sans-serif;
  width: 700px;
height: 481px;
background: #393939;
border-top: 5px solid #BB0908;



}
#tt{
  color: #FF1D29;
font-family: 'Rock Salt', cursive;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
  width: 353px;
height: 77px;
  float: right;
  margin-right:21px;
  border-bottom: 5px solid #BB0908;




}
#poster{
  float:left;
  width: 310px;
height: 481px;
}
#flag{
  width: 641px;
  margin-left: 24px;
  margin-top: 17px;
  height: 229px;
}
#dvd{
  position: absolute;
  width: 117px;
  height: 148px;
  top: 840px;
  left: 351px;  
  object-fit: cover;
}
#wel{
  font-family: 'Roboto', sans-serif;

    width:325px;
  height:254px;
  padding-top: 25px;
}
#water{
  width: 325px;
  height: 170.525px;
  margin-top: 37px;
}
#camp{
    grid-area: camp;
  font-family: 'Poppins', sans-serif;
  width: 718px;
height: 481px;
background: #393939;
border-top: 5px solid #BB0908;



}

#socialbutton{
  float:right;
  width: 60px;
  height: 60px;
  padding-left: 13px;
}

#link{
  color: #22C1CB;
  float:right;
  margin-right:38px;
}

.date{
  color: #FF1D29;
  font-style: normal;
font-weight: 700;
line-height: normal;
}

#dates{
  width: 349px;
  float:right;
  height: 216px;

}

#campText{
width: 676px;
height: 195px;
margin-left: 24px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

#anniText{
  position: absolute;
  top: 82px;
  left: 331px;
  display: inline-block;
  width: 349px;
margin-top: 560px;
font-family: 'Poppins', sans-serif;
font-size: 18px;

font-style: normal;
font-weight: 400;
line-height: normal;

  

}

#amazon{
  position: absolute;
  left: 494px;
  margin-top: auto;
  text-decoration: underline;
  color: #22c1cb;
  top: 840px;

}

#movieprice{
  Text-decoration:underline;
  color: #FFF;
  font-family: 'Teko', sans-serif;
 font-size: 72px;
 font-style: normal;
font-weight: 700;
line-height: normal;


}

#footer{
  grid-area: footer;
  color: #BCBCBC;
  font-family: 'Teko', sans-serif;
background-color: #070707;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#footer-text{
  margin-left: 30px;

}