@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois&family=Jura&display=swap');body{
    min-height:100%;
    background-color:#000000;
    margin:0px;
    border:10px solid black;
    box-sizing: border-box;
    min-height:100%; 
    position: relative;
    display: grid;
    grid-template-areas:
    'header header header'
    'nav nav nav'
    'Bio Bio Bio'
    'hobbies kanye ed'
    'footer footer footer';

}  


#main{
    margin-left: 10px;
    display: grid;
    grid-template-areas:
    'header header header'
    'nav nav nav'
    'Bio Bio Bio'
    'hobbies kanye ed'
    'footer footer footer';
    grid-gap:10px;
}

#header{
    background-color: black;
    color: white;
    grid-area: header;
    text-align: center;
    font-family: 'Jura', sans-serif;
    
}

#nav{
    background-color:  #6D6D6D;
    text-align: center;
    grid-area: nav;
    color: red;
    padding:5px;
    font-family: 'Jacques Francois', serif;

}

#link{
font-size: 36px;
margin-right: 60px;
color: red;
text-decoration: none;
}

#Bio{
    background-color: rgb(255, 255, 255);
    grid-area: Bio;
    font-family: 'Inter', sans-serif;


}


.title{
    background-color: #6D6D6D;
    color:red;
    font-family: 'Jacques Francois', serif;
    padding-top: 6px;
    padding-bottom: 8px;
    font-style: light;


}

#kanye{
    height: 628px;
    grid-area: kanye;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQbSeyEy-G7rLrWzTtn-NYLudq50ozGKqF9ghAQZwWLgxxs1RBU);
}

#ed{
    background-color: rgb(255, 255, 255);
    grid-area: ed;
    font-family: 'Inter', sans-serif;


}

#hobbies{
    background-color: rgb(255, 255, 255);
    grid-area: hobbies;
    float: right;
    font-family: 'Inter', sans-serif;

}


#footer{
    background-color: rgb(0, 0, 0);
    grid-area: footer;
    margin-top: 10px;
    text-align: center;
    color:white;
    font-family: 'Inter', sans-serif;



}